@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #eceff1;
}

/* H E A D E R */

.container header .nav-responsive {
    display: none;
    font-size: 25px;

}

#ubicacionPreview iframe {
    margin-top: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.container header nav.responsive {
    max-width: 95%;
    display: block;
    position: absolute;
    top: 100px;
    background: #223b69;
    left: 2.5%;
    border-radius: 10px;
    z-index: 11;
}

.container header nav.responsive a {
    display: block;
    width: 100%;
    text-align: center;
    margin: 15px 0;
}

.contenedor-header {
    background: #df3424;
    width: 97%;
    margin: 1.5% auto;
    border-radius: 10px;
}

.contenedor-header .logo,
.contenedor-header nav {
    width: 100%;
}

.contenedor-header .logo .img-log {
    width: 250px;
}

@media only screen and (max-width: 900px) {
    .contenedor-header .logo .img-log {
        display: flex;
        width: 250px;
        margin-left: 20%;
    }
}

@media only screen and (max-width: 600px) {
    .contenedor-header .logo .img-log {
        display: flex;
        width: 250px;
        margin-left: 20%;
    }
}

.contenedor-header .logo a {
    text-decoration: none;
    color: #fff;
}

.contenedor-header .logo h1 {
    font-size: 26px;
    line-height: 26px;
    font-weight: bold;
}

.contenedor-header .logo p {
    font-size: 14px;
}

.contenedor-header nav {
    display: flex;
    justify-content: space-evenly;
}

.contenedor-header .info-contacto {
    text-align: right;
}

.contenedor-header .info-contacto a {
    text-decoration: none;
}

.contenedor-header .info-contacto a {
    color: #fff;
    padding: 5px;
    transition: .5s;
}

.contenedor-header .info-contacto a:hover {
    color: #000;

}

.contenedor-header .info-contacto span {
    margin-left: 10px;
}

.contenedor-header header {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: #fff;
}

.contenedor-header nav span {
    font-size: 18px;
    padding: 5px 15px;
    color: #fff;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    margin: 10px 10px;
}

.contenedor-header nav a {
    font-size: 18px;
    padding: 5px 15px;
    color: #fff;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    margin: 10px 10px;
}

.contenedor-header nav a:hover {
    background-color: #fff;
    color: #df3424;
}

.home .box-buscar-propiedades .box-interior {
    background-color: transparent;
    box-shadow: 2px 4px 8px 000;
    border-radius: 10px;
}

.home .box-buscar-propiedades .box-interior p {
    color: #fff;
}

/* H O M E */

.home {
    background:
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(img/fondo.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
}

.home h2 {
    text-align: center;
    padding-top: 60px;
    color: #fff;
    font-size: 50px;
}

/* BARRA DE B U S Q U E D A*/

/* Estilos generales del contenedor y botones */
.pos-inferior {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.pos-centrada {
    margin: 30px auto;
}

.box-buscar-propiedades {
    max-width: 910px;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    padding: 1px;
    bottom: 100px;
    border-radius: 10px;
}

.box-buscar-propiedades .box-interior {
    background-color: #c2bdbdc4;
    padding: 30px;
    text-align: center;
    border-radius: 10px;
}

/* .box-buscar-propiedades .box-interior .items-center {
    left: 12%;
} */

.box-buscar-propiedades .box-interior p {
    color: #424242;
    font-size: 34px;
    font-weight: bold;
    margin-bottom: 20px;
}

/* Estilos para los botones y listas */
.contenedor-botones {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 15px;
    margin-bottom: 20px;
    position: relative; 
}

.select-btn {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    width: 200px;
    max-height: 40px;
    position: relative;
}

.filtro {
    position: relative;
    display: inline-block; 
}

.list-items {
    width: 200px;
    display: none;
    background-color: #fff;
    border: 1px solid #b2babb;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    max-height: 150px;
    overflow-y: scroll;
    position: absolute;
    top: 100%;
    left: 0; 
    margin-top: 4px; 
    z-index: 10;
}

/* estilos para la scrollbar */
.list-items::-webkit-scrollbar {
    width: 8px;
}

.list-items::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.list-items::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

.list-items::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.list-items::-webkit-scrollbar-corner {
    background: #fff;
}

.select-btn.open + .list-items {
    display: block;
}

/* estilos para los elementos dentro de las listas */
.item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px;
    cursor: pointer;    
}

.list-items #precio_min, .list-items #precio_max {
    border-radius: 5px;
    outline: none;
    border: 1px solid #ccd1d1;
    padding: 5px;
    width: 100%;
}

.checkbox {
    margin-right: 10px;
    margin-left: 5px;
}

.checkbox .check-icon {
    display: none;
}

.item.checked .checkbox .check-icon {
    display: block;
}

.item-text {
    margin-left: 10px;
}

/* estilos asignado para flecha de listadio  (perxonalizar mejor)*/
.arrow-dwn {
    transition: transform 0.3s ease;
}

.select-btn.open .arrow-dwn {
    transform: rotate(180deg); 
}


/* ajuste responsivo - tener en cuenta y suigreriri contenedor completo para resto de filtods */

@media (max-width: 768px) {
    .contenedor-botones {
        flex-direction: column;
        align-items: center;
    }

    .select-btn {
        width: 300px;
        max-width: 350px;
        margin-bottom: 15px;
    }

    .list-items {
        width: 300px;
        max-width: 350px;
    }

    .box-buscar-propiedades .box-interior .items-center {
        left: 0;
    }
}

@media (min-width: 769px) {
    .contenedor-botones {
        flex-direction: row;
        justify-content: flex-start;
    }

    .select-btn {
        width: 200px;
        margin-bottom: 10px;
    }

    .list-items {
        width: 200px;
    }
}


/* estilos btn's y listas de filtros - final */


.box-buscar-propiedades .box-interior .btn-buscar-filtro {
    width: 150px;
    padding: 7px;
    font-size: 14px;
    font-weight: bold;
    background-color: #e74c3c;
    color: #fff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: .5s;
}

.box-buscar-propiedades .box-interior .btn-buscar-filtro:hover {
    color: #e74c3c;
    background-color: #f5b7b1;
}

/* estilos boton de whatsapp */
.float {
    position: fixed;
    width: 45px;
    height: 45px;
    bottom: 10px;
    right: 20px;
    background-color: #25d366;
    color: #FFF !important;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}

.float:hover {
    text-decoration: none;
    color: #25d366 !important;
    background-color: #fff;
}

.my-float {
    margin-top: 8px;
}

.tooltip {
    display: none;
    position: fixed;
    bottom: 70px; 
    right: 20px; 
    background-color: #25d366;
    color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    z-index: 99;
    font-size: 18px;
}

.tooltip::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 92%;
    transform: translateX(-50%);
    border-width: 12px;
    border-style: solid;
    border-color: #25d366 transparent transparent transparent;
}



/* P R O P I E D A D E S */

.page-propiedades .contenedor-propiedades {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
}



@media only screen and (max-width: 900px) {
    .page-propiedades .contenedor-propiedades {
        grid-template-columns: repeat(2, 1fr);
        padding: 10px;
    }
}

@media only screen and (max-width: 600px) {
    .page-propiedades .contenedor-propiedades {
        grid-template-columns: 1fr;
        padding: 10px;
    }
}

.page-propiedades .titulo-seccion {
    text-align: center;
    color: #444;
    font-size: 40px;
    margin-bottom: 40px;
    margin-top: 40px;
}

@media only screen and (max-width: 900px) {
    .page-propiedades .titulo-seccion {
        font-size: 40px;
        padding: 25px 0;
    }
}

.page-propiedades .contenedor-propiedad {
    background-color: #fff;
    border-radius: 10px;
    transition: transform .5s;
    padding-bottom: 10px;
    
    border: 1px solid #b2babb;
}

.page-propiedades .contenedor-propiedad:hover {
    transform: scale(1.02);
    cursor: pointer;
}

.page-propiedades .contenedor-propiedad .contenedor-img {
    width: 100%;
    position: relative;
}

.page-propiedades .contenedor-propiedad .contenedor-img .tipoUbicacion {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #df3424;
    color: #fff;
    padding: 10px 10px;
    border-radius: 10px;
}

.page-propiedades .contenedor-propiedad .contenedor-img img {
    object-fit: cover;
    width: 100%;
    height: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.page-propiedades .contenedor-propiedad .info {
    padding: 0 10px;
}

.page-propiedades .contenedor-propiedad h2 {
    font-size: 16px;
    margin: 10px 0;
}

.page-propiedades .contenedor-propiedad p {
    font-size: 14px;
    color: #aaa;
}

.page-propiedades .contenedor-propiedad .precio {
    font-size: 26px;
    color: #df3424;
    margin: 5px 0;
}

.page-propiedades .contenedor-propiedad table {
    width: 100%;
    font-size: 14px;
    text-align: left;
    margin: 10px 0;
}

.page-propiedades #botonCargarMas {
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 15px;
    font-size: 14px;
    font-weight: bold;
    background-color: #df3424;
    border: 1px solid #df3424;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: .5s;
}

.page-propiedades #botonCargarMas:hover {
    background-color: #fff;
    color: #df3424;
    border: 1px solid #df3424;
}

/* No resultados style */

.contenedor-propiedades .mensaje-no-resultados {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.contenedor-propiedades .mensaje-no-resultados p {
    font-size: 18px;
    font-weight: bold;
    color: #c7c7c7;
    margin-top: 10px;
}

.contenedor-propiedades .imagen-no-resultados {
    width: 100px; 
    height: auto;
    margin-bottom: 20px;
}

/* P U B L I C A C I O N */

.page-publicacion .contenedor-principal {
    max-width: 1200px;
    margin: 40px auto;
    display: flex;
    justify-content: space-between;
}

.page-publicacion .contenedor-principal .info-publicacion {
    width: 100%;
    max-width: 850px;
}

.page-publicacion .contenedor-principal .info-publicacion h2 {
    margin-top: 22px;
    font-size: 220%;
    margin-bottom: 22px;
}

.page-publicacion .contenedor-principal .form-contacto {
    width: 100%;
    max-width: 300px;
}

.page-publicacion section {
    width: 100%;
    background-color: #fff;
    border: 1px solid #d5d8dc;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.page-publicacion .info-publicacion .dato1 {
    display: flex;
    justify-content: space-between;
}

.page-publicacion .info-publicacion .dato1 .precio {
    display: inline-block;
    font-size: 26px;
    color: #ff5d55;
    margin: 5px 0;
    font-weight: bolder;
}

.page-publicacion .info-publicacion .dato1 .tipoUbicacion {
    display: inline-block;
    background-color: #df3424;
    color: #fff;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 5px;
}

.page-publicacion .info-publicacion .contenedor-imagen-principal {
    width: 100%;
    margin-top: 15px;
}

.page-publicacion .info-publicacion .contenedor-imagen-principal img {
    width: 100%;
    height: 450px;
    border-radius: 10px;
}

/* Estilos para el contenedor del slider */
.page-publicacion .info-publicacion .galeria {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.slider-container {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
}

.slider-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
    gap: 10px;
}

.page-publicacion .info-publicacion .galeria img {
    width: 100%;
    max-width: 240px;
    object-fit: cover;
    height: 154px;
    cursor: pointer;
    border-radius: 5px;
}

/* Flechas de navegación */
.slider-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 30px;
    padding: 10px;
    cursor: pointer;
    z-index: 2;
}

.slider-button.left {
    left: 10px;
}

.slider-button.right {
    right: 10px;
}

/* Responsividad */
@media (max-width: 768px) {
    .page-publicacion .info-publicacion .galeria img {
        max-width: 100%;
        height: auto;
    }
}



.page-publicacion .info-publicacion .descripcion .fila {
    display: flex;
    margin: 30px 0
}

.page-publicacion .info-publicacion .descripcion .sub-titulo,
.page-publicacion .content-mp .sub-titulo {
    font-size: 18px;
    color: #2c3e50;
}

.page-publicacion .info-publicacion .descripcion .fila .dato,
.page-publicacion .content-mp .fila .dato {
    width: 250px;
    border-left: 5px solid #ff5d55;
    padding-left: 5px;
}

.page-publicacion .info-publicacion .descripcion .fila .dato span {
    display: block;
}

.page-publicacion .info-publicacion .descripcion .fila .dato .header {
    font-size: 13px;
    font-weight: bold;
}

.page-publicacion .info-publicacion .descripcion .fila .dato .header i,
.page-publicacion .content-mp .fila .dato i {
    color: #0e1c34;
}

.page-publicacion .info-publicacion .descripcion .fila .dato .valor,
.page-publicacion .content-mp .valor {
    font-size: 14px;
}

.page-publicacion .info-publicacion .descripcion .detalle {
    width: 100%;
    height: 100%;
}

.page-publicacion .info-publicacion .descripcion .descripcion-detallada {
    width: 100%;
    height: auto;
    padding: 5px;
    box-sizing: border-box;
    word-wrap: break-word;  
    overflow-wrap: break-word;
    word-break: break-word;
    white-space: normal; 
    line-height: 1.2;
    font-size: 16px;
}


.page-publicacion .form-contacto-publicacion {
    max-width: 340px;
    width: 100%;
    background-color: #fff;
    border: 1px solid #d5d8dc;
    padding: 15px;
    margin-bottom: 20px;
    font-size: 14px;
    border-radius: 10px;
    margin-top: 20px;
}

.page-publicacion .form-contacto-publicacion h3 {
    margin-bottom: 10px;
}

.page-publicacion .form-contacto-publicacion label {
    display: block;
    width: 100%;
    margin-bottom: 6px;
    color: #2c3e50;
    font-weight: bold;
}

.page-publicacion .form-contacto-publicacion div {
    margin-bottom: 15px;
}

.page-publicacion .form-contacto-publicacion input,
.page-publicacion .form-contacto-publicacion textarea {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #888;
    outline: none;
}

.page-publicacion .form-contacto-publicacion input:focus,
.page-publicacion .form-contacto-publicacion textarea:focus {
    border: 2px solid #f74c3c;
}

.page-publicacion .form-contacto-publicacion .btn-send {
    background-color: #5566ff;
    border: 1px solid #5566ff;
    color: #fff;
    font-weight: bold;
}

.page-publicacion .form-contacto-publicacion .btn-send:hover {
    color: #5566ff;
    border: 1px solid #5566ff;
    background-color: #fff;
}

/* .page-publicacion .compartir a {
            font-size: 24px;
            padding: 5px 0;
            display: inline-block;
            width: 60px;
            background-color: #ff5d55;
            color: #fff;
            text-decoration: none;
            text-align: center;
            margin-right: 20px;
            transition: .5s;
        }

        .page-publicacion .compartir a:hover {
            background-color: #e53935;
        } */

/* BOTONES REDES SOCILES (COMPARTIR) */

.page-publicacion .compartir .facebook {
    font-size: 24px;
    padding: 5px 0;
    display: inline-block;
    width: 60px;
    background-color: #0861f2;
    color: #fff;
    border: 1px solid #0861f2;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    margin-right: 20px;
    transition: .5s;
}

.page-publicacion .compartir .facebook:hover {
    color: #0861f2;
    background-color: #fff;
    border: 1px solid #0861f2;
}

.page-publicacion .compartir .whatsapp {
    font-size: 24px;
    padding: 5px 0;
    display: inline-block;
    width: 60px;
    background-color: #25d366;
    color: #fff;
    border: 1px solid #25d366;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    margin-right: 20px;
    transition: .5s;
}

.page-publicacion .compartir .whatsapp:hover {
    color: #25d366;
    background-color: #fff;
    border: 1px solid #25d366;
}

.page-publicacion .compartir .instagram {
    font-size: 24px;
    padding: 5px 0;
    display: inline-block;
    width: 60px;
    background-color: #fe0c77;
    color: #fff;
    border: 1px solid #fe0c77;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    margin-right: 20px;
    transition: .5s;
}

.page-publicacion .compartir .instagram:hover {
    color: #fe0c77;
    background-color: #fff;
    border: 1px solid #fe0c77;
}

.page-publicacion .compartir .x {
    font-size: 24px;
    padding: 5px 0;
    display: inline-block;
    width: 60px;
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    margin-right: 20px;
    transition: .5s;
}

.page-publicacion .compartir .x:hover {
    color: #000;
    background-color: #fff;
    border: 1px solid #000;
}

.page-publicacion .compartir h3 {
    margin-bottom: 15px;
}

/* MAPA PUBLICACION --- UBICACION URL */

.page-publicacion .content-mp {
    width: 330px;
}

.page-publicacion .maps2 {
    max-width: 340px;
    width: 100%;
    height: 100%;
    max-height: 270px;
    background-color: #fff;
    border: 1px solid #d5d8dc;
    margin-top: 20px;
    font-size: 14px;
    padding: 15px;
    border-radius: 10px;
}

.page-publicacion .maps2 iframe {
    width: 100% !important;
    margin-top: 15px !important;
    height: 195px !important;
    border: none !important;
    border-radius: 5px !important;
    box-sizing: border-box;
}

/* Botones de recorrido,video,fotos */
.info-principal-galeria {
    margin: 20px 0;
    position: relative;
}

.botones-galeria {
    position: absolute;
    top: 22%;
    right: 4%;
    display: flex;
    justify-content: flex-start;
    margin: 15px 0;
    gap: 10px;
}

/* Estilos para los botones */
.botones-galeria button {
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.btn-general {
    border: 1px solid #2196F3;
    background-color: #fff;
    color: #2196F3;
    font-weight: bold;
}

.btn-general:hover {
    color: #fff;
    background-color: #2196F3;
    border: 1px solid #2196F3;
}

.botones-galeria button:hover {
    opacity: 0.8;
}

/* Estilo para pantallas más pequeñas */
@media (max-width: 768px) {
    .botones-galeria {
        top: 24% !important;
        left: 50%;
        transform: translateX(-50%);
        justify-content: center;
    }
}


@media (max-width: 480px) {
    .botones-galeria {
        top: 21%;
    }

    .botones-galeria button {
        padding: 8px 15px;
    }
}


/* Recorrido 360 y video */

#video-container,
#recorrido-container {
    width: 100%;
    height: 100%;
}

#video-container iframe,
#recorrido-container iframe {
    width: 100%;
    height: 450px;
    border-radius: 10px;
}




/* Ventana MODAL para las imagenes */

.modal {
    display: none;
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

/* Modal Content/Box */

.modal-content {
    position: relative;
    color: #000;
    font-size: 16px;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fefefe;
    border: 1px solid #888;
    width: 100%;
    max-width: 1000px;
    height: 100%;
    max-height: 450px;
    text-align: center;
    border-radius: 5px;
}

.modal-content #fotoModal {
    width: 100%;
    max-width: 1000px;
    max-height: 450px;
    background-size: cover;
    border-radius: 5px;
}

.modal-content span i {
    font-size: 30px;
    padding: 5px 5px;
    margin: 0 10px;
    border-radius: 50%;
    background-color: #2c3e50;
    color: #fff;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

.modal-content span i:hover {
    background-color: #fff;
    color: #2c3e50;
}

.modal-content .fa-angles-left {
    left: 10px;
}

.modal-content .fa-angles-right {
    right: 10px;
}

.close {
    color: transparent;
    position: absolute;
    text-decoration: none;
    z-index: 10;
    top: 10;
}

/* Estilo para pantallas más pequeñas */
@media (max-width: 768px) {
    .modal-content {
        max-height: 200px;
        max-width: 400px;
    }

    .modal-content #fotoModal {
        max-height: 200px;
        max-width: 400px;
    }
}

@media (max-width: 480px) {
    .modal-content {
        max-height: 200px;
        max-width: 400px;
    }

    .modal-content #fotoModal {
        max-height: 200px;
        max-width: 400px;
    }
}


/* B U S Q U E D A */

.page-busqueda .contenedor-busqueda {
    max-width: 1200px;
    margin: 40px auto;
    background-color: #fff;
    border: 1px solid #aaa;
    padding: 0 15px;
    border-radius: 10px;
}

.page-busqueda .contenedor-busqueda h3 {
    margin-top: 7px;
    font-size: 16px;
    text-align: center;
    margin-top: 20px;
}

.page-busqueda .contenedor-busqueda h3 span {
    font-weight: normal;
}

.page-busqueda .contenedor-busqueda hr {
    height: 4px;
    background-color: #dadada;
    border-radius: 5px;
    width: 80%;
    border: none;
    margin: 10px auto;
}

.page-busqueda .resultado {
    width: 100%;
    background-color: #eee;
    border: 1px solid #424242;
    box-shadow: 2px 2px 3px #424242;
    margin: 20px 0;
    display: flex;
    padding: 5px;
    cursor: pointer;
    border-radius: 10px;
}

.page-busqueda .resultado .contenedor-imagen {
    width: 100%;
    max-width: 190px;
    margin-right: 20px;
}

.page-busqueda .resultado .contenedor-imagen img {
    object-fit: cover;
    width: 100%;
    height: 135px;
}

.page-busqueda .resultado .info {
    width: 100%;
}

.page-busqueda .resultado .info .titulo {
    font-size: 18px;
    font-weight: bold;
}

.page-busqueda .resultado .info .detalles {
    margin: 10px 0;
    display: flex;
}

.page-busqueda .resultado .info .detalles .dato1 {
    max-width: 140px;
    width: 100%;
    border-left: 6px solid #df3424;
    padding-left: 5px;
}

.page-busqueda .resultado .info .detalles .dato1 span {
    display: block;
}

.page-busqueda .resultado .info .detalles .dato1 .header {
    font-weight: bold;
    display: block;
}

.page-busqueda .resultado .info .detalles .dato1 .header {
    font-weight: bold;
    color: #444;
    display: block;
    font-size: 14px;
}

.page-busqueda .resultado .info .detalles .dato1 .texto {
    font-size: 14px;
    color: #607d8b;
}

/* C O N T A C T O */

.page-contacto .contenedor-contacto {
    max-width: 1200px;
    width: 100%;
    margin: 20px auto;
    display: flex;
    justify-content: space-around;
    font-size: 14px;
}

.page-contacto .titulo-seccion {
    text-align: center;
    margin-top: 20px;
}

.page-contacto .contenedor-contacto .col {
    width: 30%;
    background-color: #fff;
    border: 1px solid #ccd1d1;
    border-radius: 10px;
}

.page-contacto .contenedor-contacto .col-size {
    width: 97%;
    background-color: rgba(255, 221, 158, 0.7); /* Fondo ligeramente transparente */
    border: 1px solid #f3b748;
    border-radius: 10px;
    transition: all 0.3s ease;
    background-image: radial-gradient(circle at top left, rgba(187, 159, 48, 0.5), rgba(255, 221, 158, 0));
    background-size: cover;
    background-position: center;
}

.page-contacto .contenedor-contacto .col-size:hover {
    background-image: radial-gradient(circle at top left, rgba(255, 204, 0, 0.6), rgba(255, 181, 44, 0)); 
    box-shadow: 0 0 20px rgba(255, 204, 0, 0.6);
    transform: scale(1.05);
}




.page-contacto .contenedor-contacto .col .maps {
    border-radius: 10px;
    height: 84%;
    width: 100%;
}

.page-contacto .contenedor-contacto .info {
    padding: 15px;
}

.page-contacto .contenedor-contacto .info div {
    margin-bottom: 20px;
}

.page-contacto .formulario {
    padding: 15px;
}

.page-contacto .formulario h3 {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
}

.page-contacto .formulario hr {
    width: 50%;
    margin-left: 25%;
    margin-top: 15px;
    margin-bottom: 10px;
}

.page-contacto .formulario label {
    display: block;
    width: 100%;
    margin-bottom: 6px;
    color: #000;
}

.page-contacto .formulario div {
    margin-bottom: 15px;
}

.page-contacto .formulario input,
.page-contacto .formulario textarea {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    border: 2px solid #b2babb;
    resize: none;
    outline: none;
}

.page-contacto .formulario input:focus,
.page-contacto .formulario textarea:focus {
    border: 2px solid #df3424;
}

.page-contacto .formulario input:hover,
.page-contacto .formulario textarea:hover {
    border: 2px solid #df3424;
}

.page-contacto .formulario .btn-contact {
    background-color: #df3424;
    border: 1px solid #df3424;
    color: #fff;
    font-weight: bold;
}

.page-contacto .formulario .btn-contact:hover {
    background-color: #fff;
    border: 1px solid #df3424;
    color: #df3424;
}

.contacto-item li, .contacto-item p{
    margin-left: 5%;
}

/* Contenedor unico de venta de servicios */

#contenedor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#contenedor>div {
    width: 50%;
}

@media (max-width: 768px) {
    #contenedor>div {
        width: 100%;
    }
}
/* FOOTER */

footer {
    width: 100%;
    background-color: #0e1c34;
    color: #fff;
    text-align: center;
    font-size: 12px;
    padding: 5px 0;

}

footer a {
    color: #fff;
    text-decoration: none;
}

footer .inferior {
    position: absolute;
    bottom: 0;
}

footer.inferior2 {
    position: absolute;
    bottom: 0;
}



/* S E C C I O N P A R A M O V I L */
@media only screen and (max-width: 1000px) {
    .page-publicacion .contenedor-principal {
        max-width: 1200px;
        margin: 40px 10px;
        display: block;
    }

    .page-publicacion .contenedor-principal .info-publicacion {
        max-width: 100%;
    }

    .page-publicacion .info-publicacion .galeria img {
        width: 30%;
        object-fit: cover;
        height: 154px;
        margin-right: 10px;
        cursor: pointer;
    }

    .page-publicacion .form-contacto-publicacion {
        max-width: 100%;

    }

    .page-publicacion .maps2 {
        max-width: 100%;

    }

    .page-contacto .contenedor-contacto {
        max-width: 1200px;
        width: 100%;
        margin: 10px auto;
        display: block;
        padding: 10px;
    }

    .page-contacto .contenedor-contacto .col {
        width: 100%;
        margin-bottom: 20px;
    }

    .page-contacto .formulario input,
    .page-contacto .formulario textarea {
        display: block;
        width: 100%;
        padding: 10px;
    }

    footer .inferior2 {
        position: relative !important;
        bottom: 0 !important;
    }
}

@media only screen and (max-width: 900px) {
    .container header nav {
        display: none;
    }

    .container header .info .numero-telefono {
        display: none;
    }

    .container header .nav-responsive {
        display: block;
    }

    .home h2 {
        padding-top: 40px;
        font-size: 30px;
    }

    .home .box-buscar-propiedades {
        position: relative;
        max-width: 350px;
        width: 100%;
        top: 60px;
        background: rgba(0, 0, 0, 0.5);
        left: 50%;
    }

    .home .pos-inferior {
        position: relative;

    }

    .home .box-interior {
        padding: 15px;
    }

    .home .box-buscar-propiedades .box-interior select,
    .home .box-buscar-propiedades .box-interior input[type=submit],
    .home .box-buscar-propiedades .box-interior input[type=text],
    .home .box-buscar-propiedades .box-interior .tipoUbicacion {
        width: 100%;
        display: block;
        margin-bottom: 10px;
        margin-left: 0;
    }

    /* ESTILO PROPIEDADES */
    .page-propiedades .fila {
        display: block;
        margin: 25px 0;
    }

    .page-propiedades .contenedor-propiedad {
        max-width: 90%;
        margin: 40px auto;
    }

    .page-propiedades .box-buscar-propiedades .box-interior select,
    .page-propiedades .box-buscar-propiedades .box-interior input[type=submit],
    .page-propiedades .box-buscar-propiedades .box-interior input[type=text],
    .page-propiedades .box-buscar-propiedades .box-interior .tipoUbicacion {
        width: 100%;
        display: block;
        margin-bottom: 10px;
        margin-left: 0;
    }

    .page-propiedades .box-buscar-propiedades {
        margin: 30px auto;
    }

    .page-propiedades .box-buscar-propiedades p {
        font-size: 18px;
    }

    .page-propiedades .box-interior {
        padding: 15px;
    }

    .page-busqueda .box-buscar-propiedades .box-interior select,
    .page-busqueda .box-buscar-propiedades .box-interior input[type=submit],
    .page-busqueda .box-buscar-propiedades .box-interior input[type=text],
    .page-busqueda .box-buscar-propiedades .box-interior .tipoUbicacion {
        width: 100%;
        display: block;
        margin-bottom: 10px;
        margin-left: 0;
    }

    .page-busqueda #detalle-ocultar {
        display: none;
    }

    .page-busqueda span.titulo {
        font-size: 16px !important;
    }

    .page-busqueda p {
        font-size: 12px;
    }

    .page-publicacion .content-mp {
        width: 100%;
}
}
@media only screen and (max-width: 450px) {
    .page-publicacion .info-publicacion .descripcion .fila {
        display: block;
        margin: 0;
    }

    .page-publicacion .info-publicacion .descripcion .fila .dato {
        margin: 5px 0;
    }

    .page-publicacion .info-publicacion .descripcion .fila .dato .header {
        display: inline;
    }

    .page-publicacion .info-publicacion .descripcion .fila .dato .valor {
        display: inline;
    }
}